[2014-08-02 22:45] fresh83 opened #9 "Does not select first item w. out scrolling"
i added this to my text field w. placeholder text and a array of colleges , but if you click on the text field and click done w.out scrolling bc the item you want is the very first item then nothing is added to the text field  . users have to scroll and then scroll back to select it

[2014-09-03 11:56] buguibu opened #12 "Expose date value"
By the moment only the formated date string is availble, why don't expose the internal NSDate value?

[2014-09-04 19:52] #9 closed, assigned to nobody

[2014-09-04 19:53] #12 closed, assigned to nobody

[2014-09-23 12:50] smsmforme opened #13 "setItemList issue !!"
2014-09-23 15:47:26.279 عقارات الرياض[24680:873306] -[UITextField setItemList:]: unrecognized selector sent to instance 0x7d9bf2d0
2014-09-23 15:47:26.308 عقارات الرياض[24680:873306] **\* Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[UITextField setItemList:]: unrecognized selector sent to instance 0x7d9bf2d0'

[2014-09-23 12:59] #13 closed, assigned to nobody

[2014-09-29 15:52] nbfuhao opened #14 "not working in iOS 8"

[2014-09-29 18:20] #14 closed, assigned to nobody

[2015-01-26 09:11] mayooresan opened #16 "The done button on the top bar is missing"
Thanks for the awesome lib.

I tried implementing your library in my project as given in the readme file.

But the picker is showing up but no "Done" button is showing up in the view. Is it specific to iOS 8 ??

[2015-01-26 11:54] hackiftekhar commented on #16
IQDropDownTextField is just for using UIPickerView for textField.inputView internally. It doesn't provide any functionality for done button. If you need so you can use IQDropDownTextField with IQKeyboardManager. You'll get automatic done button with IQKeyboardManager, You can dig in IQKeyboardManager demo project for IQDropDownTextField implementation.

[2015-01-26 11:54] #16 closed

[2015-01-28 07:58] mayooresan commented on #16
@hackiftekhar Thanks for the headsup. Cheers.

[2015-03-11 00:41] kiahop opened #17 "Date and Time are current day/time instead of value in the field"
Is there a way to have the default value to be what is in the text field?  for example, using IQDropDown to control a date field, and the date field has a value, say '01/06/2006', the selector comes up selecting today's date.  How can it come up doing at '01/06/2006/?

[2015-03-11 19:30] hackiftekhar commented on #17
You can use it's setter method to set date after setting pickerMode.

On Wednesday, March 11, 2015, kiahop <notifications@github.com> wrote:

--
Sent from My iPhone

[2015-03-12 07:58] #17 closed

[2015-03-12 20:34] kiahop commented on #17
Works like a charm.  Thanks

[2015-04-09 13:44] fozoglu opened #18 "Not compatible with iOS SDK 8.3"
I updated xcode ios SDK 8.3 but I get a warning in IQDropDownTextField.h. file.
Warning -> "Auto property synthesis will not synthesize property 'delegate' ;It will be implemented by its superclass, use @dynamic to acknowledge intention"

[2015-04-26 19:23] hackiftekhar commented on #18
Now fixed.

[2015-04-26 19:23] #18 closed

[2015-05-07 07:47] bestwnh opened #21 "The method of UITextFieldDelegate won't work"
For 1.0.5 the IQDropDownTextField just delegate its own delegate method `-(void)textField:(IQDropDownTextField*)textField didSelectItem:(NSString*)item;`, all method in UITextFieldDelegate won't work.

I already create a pull request to fix this.https://github.com/hackiftekhar/IQDropDownTextField/pull/20
Hope this fix can bump to 1.0.5.1 ASAP for cocoapod.

[2015-05-07 14:01] ZhuchoG opened #22 "using in UITableViewCell"
Hello, i trying to use this field in table view cell, but it crashed all Xcode :) is this only me or anyone else
[code]

[2015-05-08 02:23] bestwnh commented on #22
Please provide more related code or just put it in a simple view and find out the issue is about the cell or any other code, I use it in table view cell and work just fine.

[2015-05-08 02:29] ZhuchoG commented on #22
That is all what i did, JTCCell is just UITableViewCell with definition of update(). In clear view it works just fine. If remove IQDropDownTextField from this code, all working as i see. IQDropDownTextField i install from cocoapods.

[2015-05-08 02:52] bestwnh commented on #22
What kind of Class in your "items"? It should be a [NSString] array. Correct?

[2015-05-08 02:55] ZhuchoG commented on #22
Correct :) i will try one thing tonight, think will resolve.

[2015-05-09 05:41] ZhuchoG commented on #22
Yes, i forget registerNib :) sorry, all is ok

[2015-05-09 09:42] #22 closed

[2015-05-09 11:44] bestwnh commented on #21
@hackiftekhar Any progress on this?

[2015-05-10 05:18] hackiftekhar commented on #21
@bestwnh Sorry, didn't get time to look this. I need to check the code. Will let you know my feedback soon.

[2015-05-10 05:41] bestwnh commented on #21
Thank you for reply so soon. You can check my request https://github.com/hackiftekhar/IQDropDownTextField/pull/20 This will work fine.
It just about the different between @synthesize and @dynamic. A simple way to explain:
@synthesize mean you set up all related code.
@dynamic mean if you won't set up some code, it would inherit from parent class.

[2015-05-10 12:19] hackiftekhar commented on #21
Yes, you're right. Just merged pull request.

[2015-05-10 15:24] #21 closed

[2015-05-21 19:56] DMCApps opened #23 "Latest version doesn't call UITextFieldDelegate Methods."
Hello,

I am using your pod within my application. I have come across an issue in the latest version which prevents the UITextFieldDelegate methods of my controller from running. Hence I am not able to validate text entries during text changes.

Thanks.

[2015-06-02 21:06] redbrain opened #26 "Cannot get rid of picker"
I am unsure how you get rid of the picker. When uipicker is presented with the items i am unable to get it to go away. And cannot find a method to close it on the selection delegate.

[2015-06-03 04:23] hackiftekhar commented on #26
IQDropDownTextField is subclass of UITextField. You can resign it like a normal textField by calling resignFirstResponder.

[2015-06-03 08:51] redbrain commented on #26
Awh thanks that works!

[2015-06-03 08:51] #26 closed

[2015-07-12 06:10] lfarah opened #27 "TextField's text on init"
I think that the textfield should init with "", not the first item on the array. With this, the user can see the Placeholder before tapping on the textfield.

What do you think?

By the way, our repo ROCKS!

[2015-07-12 07:47] hackiftekhar commented on #27
May be you're right. But I need to check if 'isOptional' property doesn't break.

[2015-07-18 20:30] woolardjason opened #28 "Bar to close dropdown doesn't appear"
It appears that the bar to close the dropdown doesn't appear like shown in your screenshots. I'm testing with 8.4 if that helps and the Objective-C code. Otherwise great job, I will be using this in a lot of my upcoming projects if I can fix that issue. :-) Saves me a lot of time

[2015-07-19 04:25] hackiftekhar commented on #28
You have to manually add UIToolbar as inputAccessoryView for textField, otherwise you can also use my IQKeyboardManager library for automatic UIToolbar for all textField.

[2015-07-19 14:20] #28 closed

[2015-07-19 14:26] hackiftekhar commented on #27
Could you please let me know which line or portion of code you are referring? I tried to take a look, but can't find something useful.

[2015-08-30 15:30] serg94 opened #29 "Add usual textField input mode too please"
In my case I need to use as TextField and TextPicker together, but I can't switch between this two modes.

[2015-09-03 19:56] #29 closed

[2015-09-11 01:19] nbfuhao commented on #23
```IQDropDownTextField``` defined ```IQDropDownTextFieldDelegate```. So I think if you are trying to use UITextFieldDelegate in your controller, and assign it to an instance of ```IQDropDownTextField```, it will complain "incompatible type"

[2015-09-11 04:12] hackiftekhar commented on #23
IQDropDownTextFieldDelegate Protocol is Inherited from UITextFieldDelegate and override delegate ptoperty. Have you checked this library code before posting your comment?

[2015-09-11 04:32] nbfuhao commented on #23
I deleted my comment to avoid confusion.

[2015-09-11 04:54] hackiftekhar commented on #23
My intention was not to ask you to delete your comment, problem was mine to not update anything about this issue. I think this is already fixed, I'll push latest version to cocoapods and will close this issue.

[2015-09-13 23:16] jaredMermey opened #31 "Swift"
Can you please put up an example Swift project?

[2015-09-14 04:05] hackiftekhar commented on #31
It's already there in demo project. Tou'll find two target. One with ObjC and other one with swift.

[2015-09-14 04:08] hackiftekhar commented on #31
Ohh sorry, I thought you were asking about my otger library. No problem, I'll update Read me file.

[2015-10-22 10:53] hackiftekhar commented on #31
Actually I don't think that I should put an example, because most of the developers know how to use Objective-C code with swift projects.

https://developer.apple.com/library/ios/documentation/Swift/Conceptual/BuildingCocoaApps/MixandMatch.html

[2015-10-22 10:53] #31 closed

[2015-10-22 10:53] #27 closed

[2015-10-22 10:53] #23 closed

[2015-11-07 01:58] fmaylinch opened #34 "Optional row is 0 or -1 ?"
When `isOptionalDropDown` is `YES` you have that:

* `selectedRow` returns -1 when the optional row is selected.
* To set the optional row you need to assign `selectedRow = 0`.

I'd prefer to set `selectedRow = -1` for consistency.

[2015-11-07 11:45] hackiftekhar commented on #34
Yup, I need to fix it. Thanks

[2015-11-07 15:28] fmaylinch commented on #34
Thanks for the component, @hackiftekhar.

I also suggest to show more features in the sample code, like `optionalItemText` or `IQDropDownTextFieldDelegate`. They are really handy.

[2015-11-07 18:45] hackiftekhar commented on #34
Hmm, you are right. Will update demo
Code too. Would you like to any other features in demo? I'll add them in one shoot.

[2015-11-07 18:51] fmaylinch commented on #34
I'm using those, but please add anything that may be interesting to use.
Thanks!
On 7 Nov 2015 19:45, "Mohd Iftekhar Qurashi" <notifications@github.com>
wrote:

[2015-11-10 12:37] darkFunction commented on #27
Please could you reopen this- it's a valid requirement, the user can no longer see the placeholder text

[2015-11-10 13:12] hackiftekhar commented on #27
I can reopen, but no one replied to my comment. That's why I closed this issue.

[2015-11-10 13:15] darkFunction commented on #27
All good :) I just noticed this problem myself which is why I commented. Since 'text' was deprecated the placeholder text doesn't work

[2015-11-10 14:40] darkFunction commented on #27
Actually, I was missing the `isOptionalDropDown` BOOL. Sorry.

[2015-11-10 14:42] darkFunction opened #35 "Since `setText` was deprecated, there is no way of having different text in the dropdown & textfield"
For example, in the drop down menu I need:

`
13, 14, 15
...
`

But when the user selects one, I want to be able to set the text to:

`13 years old`

[2015-11-19 18:54] parkerdonat opened #36 "Dropdown not working since .text was deprecated"
I changed my .text to .selectedItem and now the dropdown menu doesn't activate when tapped anymore. I checked this on my device and on simulator. Here is my sample code to initiate the dropdown:

[code]

Any ideas on how to fix this? Any help would be greatly appreciated. Thanks!

[2015-12-08 14:34] alexandru1208 opened #37 "selectedItem does not work"
_selectedItem = unable to read data

[2015-12-15 11:36] kuldeep13990 opened #38 "DatePicker Date Issue"
selected date from date picker is 25/12/2015 , and when i pass that selected date in data base the date is 24/12/2015.

i think it's because of different time zone, so i try the following
[self.dropDownDateFormatter setTimeZone:[NSTimeZone timeZoneForSecondsFromGMT:0]];

but still i receive wrong date from picker.

any solution please.

Thanks in Advance.

[2015-12-15 21:30] hackiftekhar commented on #38
You can manually convert the returned date according to your device
tomezone, but I'll take a look
On Tue, 15 Dec 2015 at 5:06 PM, Kuldeep Pamrar <notifications@github.com>
wrote:

[2015-12-16 07:57] Maxoplata commented on #37
Have you tried yourTextField.selectedItem! (with the ! after)

[2015-12-16 08:00] Maxoplata opened #39 "textField.dropDownMode = .TextPicker not working?"
I am assuming that setting the dropDownMode to .TextPicker is supposed to make the keyboard come up?

When I use it, it just brings up the regular picker as if I didn't set the dropDownMode at all.

[2015-12-16 14:58] #39 closed

[2015-12-22 10:39] myusuf08 commented on #36
how to fix it?

[2015-12-22 17:53] hackiftekhar commented on #36
How you are setting your textField 'itemList'? What was your 'isOptional' parameter? Could you please share a demo?

[2016-01-07 19:59] parkerdonat commented on #36
Sure. So I set these in the viewDidLoad. Here is an example of how I set them.

self.fontTextField.isOptionalDropDown = NO;
    self.fontTextField.delegate = self;
    [self.fontTextField setItemList:[UIFont arrayOfFonts]];

[2016-01-08 03:52] hackiftekhar commented on #36
Don't know why but it should work. Could you please share a demo so that I can tKe a look at weekend.

[2016-01-13 07:27] juancholt opened #40 "Exists a way to show the done button?"
When the dropdown picker is shown the bar that goes over the picker view and haves a done button isnt showing, exists any sort of method to show that like the image you've posted?

[2016-01-13 20:06] hackiftekhar commented on #40
Actually it's developer responsibility add add a toolbar with done button above picker. You can compare this issue with the native iOS keyboard problem. When a keyboard up and there is developer responsibility to dismiss keyboard when return button is pressed.

[2016-01-18 14:12] codwam opened #41 "minimumDate"
minimumDate not work in IQDropDownModeDateTimePicker

[2016-01-18 14:28] codwam commented on #41
You didn't set minimumDate , i pull and closed

[2016-01-18 14:28] #41 closed

[2016-01-22 06:34] kuldeep13990 opened #43 "Set IQDropDown Default Text"
i am trying to set default value to iqDropDownTextField like Male or Female. but i am not able to set default string

txt gender.selecteditem = @"Male";

any solution please.
thanks in advance...

[2016-01-22 06:37] hackiftekhar commented on #43
You need to first set the array for items then you should set selectedItem, it should work. If it's not then I need to look into this.

[2016-01-22 06:47] kuldeep13990 commented on #43
i just want to set single word in iqDropDownTextfield like normal textfield.. theres no array

[2016-01-22 06:49] hackiftekhar commented on #43
Then you must have to provide an array of one object

[2016-01-22 06:51] kuldeep13990 commented on #43
i will try.. ok thanks...

[2016-01-29 12:52] shi1234ww opened #45 "how to change PickerView Background Color?"
I'm try to define pickerView Background Color By Myself,but didn't find the way to change it,could you provide some interface to change Background Color ??Thanks a lot!

[2016-03-26 11:52] #34 closed

[2016-03-26 11:55] hackiftekhar commented on #35
That's logically doesn't make sense. If you like to show 13 years old, 14 years old, 15 years old then dropdown should display exactly same thing.

[2016-03-26 12:44] hackiftekhar commented on #36
Could you please provide a demo?

[2016-03-26 12:45] hackiftekhar commented on #37
How can you access _selectedItem, you should only allow to access selectedItem. Could you please let me know how selectedItem doesn't work.

[2016-03-26 12:45] #38 closed

[2016-03-26 12:46] #40 closed

[2016-03-26 12:47] #43 closed

[2016-03-26 12:49] hackiftekhar commented on #45
There is no direct way to set background color. Also I don't have any plans to expose a property to set background color because I always force to use default standard UI provided by apple. Let me know what you think.

[2016-03-29 15:02] #37 closed

[2016-04-03 14:10] FaridHaddad commented on #21
hello, its still not working for me .. the delegate does not responds to the selector textField:didSelectItem: .. and the delegate is @dynamic .. what to do please ? thank you

[2016-04-03 15:05] bestwnh commented on #21
Could you provide the sample code and the version of IQDropDownTextField you use? Is it other delegate method work?

[2016-04-04 06:23] hackiftekhar commented on #21
I checked the demo and this delegate is working for me. You just need to assign textfield.delegate = self;

[2016-04-04 14:01] FaridHaddad commented on #21
timeTextField.isOptionalDropDown = false
        timeTextField.itemList = ["15 mins","30 mins","45 mins","1h","1h 15mins","1h 30mins","1h 45mins","2h"]
        timeTextField.delegate = self

func textField(textField: IQDropDownTextField, didSelectItem item: String?) {
       // this func does not trigger ..
    }

[2016-04-04 14:07] FaridHaddad commented on #21
its done .. i change the place of timeTextField.delegate = self from viewDidLoad to viewWillAppear ... it worked

[2016-04-04 16:17] hackiftekhar commented on #21
Not sure what was the issue but it should work with viewDidLoad too.

[2016-04-06 09:52] ryanheitner commented on #35
I think it is a valid use case to want different text, in my case I want the opposite to darkfunction, have the picker show 60 minutes but I only have space in the text field to show 60.

[2016-04-06 10:09] hackiftekhar commented on #35
ok, then I think we can add some functionality to show text from different array and picker shows different array.

[2016-04-06 15:03] meismyles opened #47 "Jumps to wrong index when using optional drop down"
When using `isOptionalDropDown = true` in either Objective-C or Swift, when selecting a row, the picker immediately jumps to the next row (meaning you can never select the bottom row) and thus the text field text is incorrect.

[2016-04-06 15:13] meismyles commented on #47
Submitted a pull request that fixes this: https://github.com/hackiftekhar/IQDropDownTextField/pull/48

[2016-04-06 16:00] hackiftekhar commented on #47
ok, I'll check it first before merging. Thanks for the PR.

[2016-04-08 09:23] Lawrence2359 commented on #47
facing the same issue as well, when isOptionalDropDown is false or true also will jump index!

[2016-04-08 09:27] meismyles commented on #47
@Lawrence2359 I've submitted a pull request with a fix, but you can check out my fork [here](https://github.com/meismyles/IQDropDownTextField) which fixes it until the request is looked at.

[2016-04-08 10:22] hackiftekhar commented on #47
This is merged now and 1.0.9 is released with the fix.

[2016-04-08 10:22] #47 closed

[2016-04-08 11:55] #35 closed

[2016-04-14 02:50] OxyFlax opened #49 "Impossible to make an action when value change"
I would like to call a method when the value is change (in order to enable a button when something is selected in pickerView) but nothing seems to work, do you have any idea?
I tried this:
`[_TextFieldPicker addTarget:self action:@selector(checkFields) forControlEvents:UIControlEventValueChanged];`

[2016-04-14 03:31] hackiftekhar commented on #49
There Is a delegate method for this something like *didSelectItem*. This will do the trick for you.

[2016-04-14 03:31] #49 closed

[2016-04-14 05:30] OxyFlax commented on #49
What do you mean?
When you select a value, I need to call the function checkFields that is this one:
`-(void)checkFields {
    self.createButton.enabled = self.pseudoTextField.text.length > 0 && self.passwordTextField.text.length > 0 && self.confirmPasswordTextField.text.length > 0 && _questionTextFieldPicker.selectedRow != -1 && _questionAnswerTextField.text.length > 0 && _cityTextField.text.leng

[2016-04-14 05:34] hackiftekhar commented on #49
Ok, then you could learn about delegate first. There are delegate methods to get a callback like you want.

[2016-04-14 07:49] OxyFlax commented on #49
Ok thanks, I tried that:
`-(void)pickerView:(UIPickerView *)pickerView didSelectRow:(NSInteger)row inComponent:(NSInteger)component {
// my action
}`
But it doesn't work. Is that what you were talking about?

[2016-04-14 08:26] hackiftekhar commented on #49
That's the delegate of UIPickerView. You should use IQDropDownTextField delegates.

[2016-04-14 08:38] OxyFlax commented on #49
Ok sorry, I didn't look at the .h file. I tried that:
`-(void)textField:(nonnull IQDropDownTextField*)textField didSelectItem:(nullable NSString*)item {
    [self checkFields];
    NSLog(@"Le pb vient d'ailleurs");
}`
But it doesn't work either.

[2016-04-14 09:55] hackiftekhar commented on #49
You didn't set textField.delegate property to self that's why you didn't get a callback.

[2016-04-14 10:48] OxyFlax commented on #49
Thank you very much, it worked.
And you helped me for my future development I think, as I now know better how to use delegate :)

[2016-04-19 00:50] FaridHaddad opened #50 "Default selectedItem nil"
Hello,

I am having an issue where if isOptionalDropDown = false, textField.selectedItem returns nil if the textField is not touched or pressed .. when the user pressed the textField, then textField.selectedItem will return a value.

what is the problem here ?

Thanks

[2016-04-22 14:52] #50 closed

[2016-05-12 13:16] hackiftekhar commented on #36
I believe this is fixed with #50, could you please recheck?

[2016-05-12 13:38] #45 closed

[2016-05-16 03:46] codwam opened #52 "selectedItem not nil"
case IQDropDownModeDatePicker:
        {
            return [self.dropDownDateFormatter stringFromDate:self.datePicker.date];
        }

while I didn't select any items, it always return the current date

[2016-05-16 06:08] hackiftekhar commented on #52
Yeah. It will alwas return a date. I probably have to set the date to textField.text too (If it's not appearing already).

[2016-05-16 09:32] codwam commented on #52
So how to fix it?
I have add a property,

var isEmpty: Bool {
        get {
            let text = self.valueForKey("text") as? String
            return text == nil || text!.isEmpty
        }
    }

And I want to ask another question: textFieldDidEndEditing doesn't effct?

[2016-05-16 11:28] hackiftekhar commented on #52
Currently there is no way to achieve this. I may need to fix it(If date isn't appearing at the first moment).

[2016-05-18 09:54] kristiansu opened #54 "Time zone issue when using timePicker"
Hi!

I'm experiencing the following issue:

My device is set to CEST time zone (UTC +2), but when i select time from time picker drop down, time is being stored in UTC +1 time zone. Now, i'm not 100% percent sure this issue occurs because there's something wrong with the library, but is there a chance that there might be something wrong? Could you look into it?

Best regards!

[2016-05-18 10:27] raducanb opened #55 "The cut/paste menu should appear when using IQDropDownModeTextField"
#53

[2016-05-18 11:52] hackiftekhar commented on #54
You could try changing timezone of `dateFormatter` or `timeFormatter` property. Let me know if this fixed your issue.

[2016-05-18 11:54] hackiftekhar commented on #55
Your pull request is merged. Thanks :)

[2016-05-18 11:54] #55 closed

[2016-05-18 12:10] kristiansu commented on #54
UPDATE:
When using Time picker, library returns date in form of e.g. 01-01-2000 10:33:22 , and since the date is in  january there is no daylight saving time and therefore it converts to CET (UTC+1) instead of CEST(UTC +2)

[2016-06-28 20:58] serg94 commented on #54
+

So what's the solution?

[2016-06-28 21:50] serg94 commented on #54
[code]

this is my hot fix, just in case, may be it can help to fix in general.

[2016-07-06 19:13] lfarah opened #58 "Not showing bar buttons"
<img width="470" alt="screen shot 2016-07-06 at 4 13 37 pm" src="https://cloud.githubusercontent.com/assets/6511079/16631262/a249a356-4394-11e6-9fa3-08b9803465c4.png">

[2016-07-08 12:31] hackiftekhar commented on #58
It's upto the developer to show a toolbar over pickerView or not.

[2016-07-11 03:21] lfarah commented on #58
Oh I thought that since there was a whitespace there, it was a bug since a toolbar is shown on the ```Readme.md```:
<img width="376" alt="screen shot 2016-07-11 at 12 21 09 am" src="https://cloud.githubusercontent.com/assets/6511079/16719129/6e17f63e-46fd-11e6-8eb7-7c287c18bd2a.png">

How do I show it ?

[2016-07-19 19:03] brunoteixeiralc opened #59 "open IQDropDownTextField programmatically"
In my code in certain point I want to open my IQDropDownTextField without need to click in my textfield.

There is any way to do this?

For example : load my data e than open my IQDropDownTextField populate with this data.

[2016-07-20 06:10] raducanb commented on #59
Hi. Send the `becomeFirstResponder` message to your IQDropDownTextField after your data loads.

[2016-07-20 12:17] hackiftekhar commented on #59
Thanks @raducanb for responding so quickly. :)

[2016-07-20 12:17] #59 closed

[2016-08-12 21:05] lecksfrawen commented on #54
Following @hackiftekhar advice I used dateFormatter, but by setting a locale for "es-MX" I can't pick any date. It scrolls back to the minimumDate after any date is picked. Without setting locale I have no issues though.

I ended removing the locale configuration and changed my simulator/device region/language settings to Spanish/Mexico and I get the picker in Spanish as I desired. Just a heads up

[2016-09-08 05:29] swayam007 opened #60 "Support For custom objects in Item list Array."
Can you provide support for item list array with custom model objects with specified with key.
For e.g Array of Users objects with specified with key "user_name".  So it is easy to get User object when item was selected.

[2016-10-15 11:52] manishvpatel commented on #21
I have set textfield in UITableviewCell but didSelectItem does not work. can you please help me out of this or any alternate available?

[2016-11-16 16:28] djbe opened #61 "Time picker is broken once minimumDate is set"
If you set the minimumDate to (for example) `2001-01-01 17:00:00`, whenever you try to pick a time, it will scroll back to the minimum time. I think that in #54, besides hitting the lolale/timezone issue, they were also hitting this issue (see comment from @lecksfrawen).

The reason is that when you pick a time, for example 17:30, the following will happen:

1. `timePicker`'s date property is chan

[2016-11-17 05:02] hackiftekhar commented on #61
Great findings @djbe, I'll take a look and will check kf we can ignore minimumDate in case of time picker.

[2016-11-17 17:10] djbe commented on #61
Thing is, the UIDatePicker component (and its minimumDate) works correctly. It is the transformation from Date --> String --> Date that breaks things.

If you want I can create a pull request with proposed solution.

[2016-11-18 07:32] hackiftekhar commented on #61
Please create a PR

[2016-11-18 19:01] djbe commented on #61
Thanks!

[2016-11-18 19:01] #61 closed

[2017-03-02 02:11] yanyoung opened #64 "How to observe the change of IQDropDownTextField's text"
[code]

I want to change `self.remark.text` after `self.textFieldTextPicker.text `changed. but code above cannot work. Any help would be greatly appreciated. Thanks!

[2017-03-27 09:54] sameer4 opened #65 "unable to access Picker Object to customize it more."
i wanted to set minuteInterval in IQDropDownModeTimePicker but there's no option like this nor i can access picker object to customize it in my own code.i had to edit h and m files directly.but this can cause problem if other developer updated the files without noticing the changes.can you update the code?

[2017-04-07 14:50] #36 closed

[2017-04-07 17:01] hackiftekhar commented on #52
Hey @codwam I forgot what was the actual issue. Could you please remind me again?

[2017-04-07 17:02] hackiftekhar commented on #54
I think it's because of DST related things and can be handled by `dateFormatter`, so closing this issue.

[2017-04-07 17:02] #54 closed

[2017-04-07 17:02] hackiftekhar commented on #58
You could add UIToolbar as inputAccessoryView.

[2017-04-07 17:02] #58 closed

[2017-04-07 17:04] hackiftekhar commented on #60
I think your situation can easily be handled by getting an array of user_name and set it to itemList. I don't think it should be supported by library since same feature can be achieved by existing feature but with a little bit more code.

[2017-04-07 17:04] #60 closed

[2017-04-07 17:07] hackiftekhar commented on #64
You could implement `textField:didSelectItem:` delegate method to get callback when any changes made on picker.

[2017-04-07 17:07] #64 closed

[2017-04-07 17:13] #65 closed

[2017-04-07 17:13] hackiftekhar commented on #65
@sameer4 Changes done. Cheers!

[2017-04-17 13:23] sameer4 opened #66 "setting formatter to date picker not working"
i'm setting the formatter to a dropdown in datepicker mode.it show the correct format in textfield when a date is selected but not showing new format in dropdown gear
![screen shot 2017-04-17 at 7 12 38 pm](https://cloud.githubusercontent.com/assets/6317374/25091298/da0e119e-23a1-11e7-9076-70c32e59c8f2.png)

`NSDateFormatter *formatter = [[NSDateFormatter alloc] init];`
 `[formatter setDateFormat:

[2017-04-23 02:56] codwam commented on #52
`-(void)doneClicked:(UIBarButtonItem*)button
{
    [self.view endEditing:YES];

    NSLog(@"textFieldTextPicker.selectedItem: %@", textFieldTextPicker.selectedItem);
    NSLog(@"textFieldOptionalTextPicker.selectedItem: %@", textFieldOptionalTextPicker.selectedItem);
    NSLog(@"textFieldDatePicker.selectedItem: %@", textFieldDatePicker.selectedItem);
    NSLog(@"textFieldTimePicker.selectedItem:

[2017-04-24 16:38] Praveend437 opened #68 "Tool Bar not added"
if possible please add Toolbar over picker

[2017-05-02 13:30] Prabhat-Emorphis opened #69 "IQKeyboardManager with IQDropDownTextField facing problems"
When I use IQKeyboardManager with IQDropDownTextField I am getting this error :

Undefined symbols for architecture armv7:
  "_CACurrentMediaTime", referenced from:
      -[IQKeyboardManager adjustFrame] in IQKeyboardManager.o
      -[IQKeyboardManager keyboardWillShow:] in IQKeyboardManager.o
      -[IQKeyboardManager keyboardDidShow:] in IQKeyboardManager.o
      -[IQKeyboardManager keyboardWill

[2017-05-05 10:49] Sooongz opened #70 "awakeFromNib"
`
@property (weak, nonatomic) IBOutlet IQDropDownTextField *servedTimeTextField;

- (void)configureView {

    self.servedTimeTextField.timeFormatter = [NSDateFormatter dateFormatterWithFormat:@"HH:mm" timeZone:[NSTimeZone timeZoneWithName:@"GMT"] locale:[[NSLocale alloc] initWithLocaleIdentifier:@"en_FR"]];
    self.servedTimeTextField.dropDownMode = IQDropDownModeTimePicker;
    self.servedTimeT

[2017-05-06 11:05] hackiftekhar commented on #70
@Sooongz I think the iOS is doing fine that awakeFromNib of main view call first and then call other awakeFromNib. Can you please verify if textField object is initialized in configureView method or it's still nil?

[2017-05-06 11:14] hackiftekhar commented on #69
This might be because CACurrentMediaTime method is used in IQKeyboardManager. Can you please try adding QuartzCore library to your project and see if this solve the issue?

[2017-05-06 11:30] Prabhat-Emorphis commented on #69
I add QuartzCore and run the project it build and run successfully but IQKeyboardManager toolabr forward and backward button are not visible,

You can check it by adding  IQKeyboardManager folder in IQDropDownTextField demo project. It is not working with IQKeyboardManager.

[2017-05-07 16:27] hackiftekhar commented on #69
If you check IQKeyboardManager demo project, there I demoed IQDropDownTextField and it's appearing there. Can you please verify that IQDropDownTextField.inputAccessoryView is not already assigned with something else or it does have some view?

[2017-05-08 01:27] Sooongz commented on #70
Yes, the  textField object has initialized.

[2017-05-09 17:19] hackiftekhar commented on #70
If this is the case then I think all is reset with `- (void)initialize` method. I need to check if I can fix that.

[2017-05-09 17:28] #70 closed

[2017-05-10 02:17] Sooongz commented on #70
@hackiftekhar Thx

[2017-05-18 02:47] Sooongz opened #71 "TextFields very slowly"
I push to UiViewController ( with a tableView),  the tableView has a lot of textFields, when I 'setMinimumDate' and 'setMinimumDate' ,  the push action needs a few seconds.

Is there a problem with the way I use it?

Thx

[2017-05-18 03:06] Sooongz commented on #71
When I modify the setMinimumDate method like this, the push action become quickly.

`- (void)setMinimumDate:(NSDate *)minimumDate {
    _minimumDate = minimumDate;

    switch (self.dropDownMode) {
        case IQDropDownModeTimePicker:
            self.timePicker.minimumDate = minimumDate;
            break;
        case IQDropDownModeDatePicker:
            self.datePicker.minimumDate = minimumD

[2017-05-18 10:06] sameer4 opened #72 "can setIsOptionalDropDown do nothing in timer or date picker case."
i have a dropdown in IQDropDownModeDateTimePicker for which i want to setIsOptionalDropDown based on some conditions.so i want dropdown textfield's text to become @"" when it's optional YES and i set .selectedItem = @""
i'm modifying the library files but could you also support this so if someone updates the library, the functionality remains working?

[2017-05-18 10:55] sameer4 commented on #72
for now i'm doing this.

`if (sender.selected)
    {
        self.txtTimeForSchedule.isOptionalDropDown = YES;
        self.txtTimeForSchedule.dropDownMode = IQDropDownModeTextField;
        self.txtTimeForSchedule.selectedItem = @"";
    }
    else
    {
        self.txtTimeForSchedule.isOptionalDropDown = NO;
        self.txtTimeForSchedule.dropDownMode = IQDropDownModeDateTimePicker;
        se

[2017-05-30 17:37] hackiftekhar commented on #72
It's expected because it only applies for a list with library, not with date and time.

[2017-06-07 13:56] kishorehvk opened #73 "Selected value"
Hi , I  am using your library in uitableview. I have created one textfield (iqdropdowntextfield) in a cell and I am dynamically adding upto 5 textfields with different values. If I cancel the row, the textfield values are not canceling while I add again the cancelled values are populating. How to delete the value. Thanks in advance.

[2017-06-07 14:09] svbalamuruga commented on #40
fileprivate lazy var allTextFields: [IQDropDownTextField] = {
        let allTextFields: [IQDropDownTextField] = [
            self.header_style
        ]
        return allTextFields
    }()
        override func viewDidLoad() {
        super.viewDidLoad()

            let flexibleButton = UIBarButtonItem(barButtonSystemItem: .flexibleSpace, target: nil, action: nil)
            let doneButton =

[2017-06-18 17:52] #52 closed

[2017-06-18 18:03] hackiftekhar commented on #66
@sameer4 It's showing correct format, you set @"EEE MMMM dd yyyy"] and it's showing "Sun September 17 2017" and you selected same date. Can you please reword your question so that I can better understand?

[2017-06-18 18:16] #68 closed

[2017-06-18 18:26] #69 closed

[2017-06-18 18:29] hackiftekhar commented on #71
I've now removed setMinimumDate property because we are now exposing UIDatePicker objects and this can be directly set there according to requirements.

[2017-06-18 18:29] #71 closed

[2017-06-18 18:30] hackiftekhar commented on #72
@sameer4 I optimized isOptionalDropDown to also work with date and time pickers, please take a look.

[2017-06-18 18:30] #72 closed

[2017-06-18 18:31] hackiftekhar commented on #73
You can set it's selectedItem property to nil and it will remove the currently selected value.

[2017-06-18 18:31] #73 closed

[2017-06-19 07:24] sameer4 commented on #72
thank you

[2017-06-19 07:26] sameer4 commented on #66
@hackiftekhar  i wanted it to show **Sun September 17 2017** in picker instead of textfield

[2017-06-19 07:39] hackiftekhar commented on #66
hmm, then we can't do anything much. We already exposing UIDatePicker object, and you can only change it's mode
[code]
It's limited to show the things in date picker and not possible to customize that one.

[2017-06-19 07:39] #66 closed

[2017-06-19 08:26] sameer4 commented on #66
yes i know with datepicker of ios it's not possible unless we make a custom picker populated with dates and time data.

[2017-06-20 15:41] hackiftekhar commented on #66
So @sameer4 whats the requirement now?

[2017-06-21 07:07] sameer4 commented on #66
he wanted this formate in dropdown gear.i didn't have the time make a custom one.so i asked him it's not possible.

[2017-06-21 07:09] hackiftekhar commented on #66
So the final result is that it's not possible for my library to customize that and there is no such plans to do that.

[2017-06-21 09:20] sameer4 commented on #66
i think you should work on it when you are free.i didn't find any library to support custom formatter in date picker.will be a great help for future if some one need it.

[2017-06-21 09:23] hackiftekhar commented on #66
I don't have any plans to do it, since it's general requirement to support standard date picker UI supported by iOS. But it's a rare case requirement to support any custom formatter. Also it will be too much work to support a feature which will rarely be used.

If you are still interested to see this feature in this library then can you work on this when you have free time and make a pull-request?

[2017-06-21 18:29] hackiftekhar commented on #66
@sameer4 Will you work on this feature when you have some free time?

[2017-06-22 06:36] sameer4 commented on #66
ok i will when i will be free.not sure when.

[2017-07-13 11:44] sumit-10 opened #74 "How can i set the value in textFiled because using the selectedItem property is not setting the value from dictionary. ex (self.tf_userName.selectedItem = myDict["name"] as? String)..because (.text) property not working here."

[2017-07-14 06:02] #74 closed

[2017-07-16 16:00] hackiftekhar commented on #74
Yiu should first set the array of item list only after that you can use selectedItem. This limitation is because the library only allow to set value from the predefined list set as item list and user is not allowed to set any text directly using .text property..

[2017-08-06 15:00] yeziahehe opened #75 "libc++abi.dylib: terminating with uncaught exception of type NSException"
I can see something in Xcode

<img width="287" alt="2017-08-06 11 00 02" src="https://user-images.githubusercontent.com/8090437/29004513-147a87ee-7afb-11e7-99a0-bd582fa5fdbf.png">

swift iOS 10, when I use categoryTextField.itemList = ["Android", "iOS"] will crash.
But i remove this code, it will be ok like this.
![simulator screen shot 2017 8 6 10 58 23](https://user-images.githubusercontent.com/

[2017-08-06 15:27] yeziahehe commented on #75
i remove it and recreate, it will be ok.
Thank you for open resource!

[2017-08-06 15:27] #75 closed

[2017-08-25 04:07] thuongdao opened #76 "Can't change textColor of textField"
I set textColor on Xib or set textColor programmatically, It also does not work

[2017-08-25 09:39] #76 closed

[2017-08-25 09:40] thuongdao commented on #76
sorry, that's my mistake

[2017-09-14 06:20] Marlunes opened #77 "Any Delegate To capture the "Done" toolbar item event?"

[2017-09-15 10:06] hackiftekhar commented on #77
You can add your own toolbar if you need your own callback. If you set `showDismissToolbar = YES` then there will be a Done button which will be used to dismiss drop down.

[2017-09-15 10:06] #77 closed

[2017-10-12 06:15] mitulmarsonia opened #78 "CALayerInvalidGeometry; CALayer bounds contains NaN: [...]"
Thank you so much for making wonderful library.

App some time crash. I have attached fabric screen short.

IQDropDownTextField.m line 321
-[IQDropDownTextField setSelectedRow:animated:]

![screen shot 2017-10-12 at 11 37 58 am](https://user-images.githubusercontent.com/10178632/31481660-33e6dbb6-af42-11e7-859f-70fd128c8cca.png)

Thank You.

[2017-10-12 07:07] nikhil191090 opened #79 "multiple selection drop down"
i want to create drop down which has multiple selection .

[2017-10-12 09:17] berabhavin commented on #78
I am getting same issue. it is random crash can you please help me out for this.

[2017-10-12 15:47] hackiftekhar commented on #79
You cannot do this with IQDropDownTextField, please take a look at IQActionSheetPickerView for multiple selection support.

[2017-10-12 15:48] hackiftekhar commented on #78
Which version of library you are using right now?

[2017-10-12 16:54] mitulmarsonia commented on #78
@hackiftekhar  v1.1.1

[2017-10-12 19:19] hackiftekhar commented on #78
Is it happening every-time or happens sometimes? Are you able to reproduce this issue?

[2017-10-12 20:05] mitulmarsonia commented on #78
Its happens sometimes. we are using UITableView with multiple textfield then it happens.

[2017-10-18 14:58] haroldogtf opened #80 "Question: is possible to customize the Picker with a DatePicker?"
Question: is possible to customize the Picker with a DatePicker?
I need the similar behavior but instead appear a list I would like to set the Date. (I had this behavior with a custom class of https://github.com/angelopino/APJTextPickerView but if I use that I can't navigate between the text fields with IQKeyboardManager

[2017-10-18 16:33] fsaldivarids opened #81 "Button done."
Hi, I have a question.
My button done, always has color withe ios 11.

How to change the color button done?

[2017-10-18 18:05] haroldogtf commented on #80
I changed some behaviors my custom component and it works.

[2017-10-18 18:05] #80 closed

[2017-10-21 03:29] hackiftekhar commented on #81
Please try assigning toolbarTintColor to some color

[2017-10-23 15:19] fsaldivarids commented on #81
Hi, this problem was solved,
My solution
UIBarButtonItem.appearance().setTitleTextAttributes([
            NSForegroundColorAttributeName : WIBEColors.DARK,
            NSFontAttributeName : WIBEFonts.getBaseFont(20)
            ], for: UIControlState())

but, I have to change my button for an image

[2017-10-23 17:29] #81 closed

[2017-10-25 06:26] hasidil opened #82 "setMinimumDate not working after new pod update"
setMinimumDate not working after new pod update.

`NSDate *minimumDate = [NSDate date];
    [self.tfDate setMinimumDate:minimumDate];`

[2017-10-25 18:24] hackiftekhar commented on #81
Then you can do something like this

    [[UIBarButtonItem appearanceWhenContainedInInstancesOfClasses:@[[UINavigationBar class]]] setTitleTextAttributes:@{NSForegroundColorAttributeName:[UIColor whiteColor]} forState:UIControlStateNormal];

[2017-10-25 18:30] hackiftekhar commented on #82
Sorry for inconvenience, with latest version there are UIDatePicker exposed properties

@property (nonnull, nonatomic, readonly) UIDatePicker *datePicker;
@property (nonnull, nonatomic, readonly) UIDatePicker *timePicker;
@property (nonnull, nonatomic, readonly) UIDatePicker *dateTimePicker;

and now you can set minimum date directly there.

[2017-10-25 19:07] fsaldivarids opened #83 "Button dont you see the first time"
The problem is in ios 11, the toolbar not have button done,
i need touch two times
mi code

func textFieldShouldBeginEditing(_ textField: UITextField) -> Bool {
        if PaymentsSearchBar.countOpenDate < 4 {
            PaymentsSearchBar.countOpenDate = PaymentsSearchBar.countOpenDate + 1
            textField.reloadInputViews()
            textField.keyboardToolbar.sizeToFit()
            textF

[2017-10-25 21:23] fsaldivarids commented on #83
Example first Touch
IQKeyboardManager
![image](https://user-images.githubusercontent.com/29437425/32023993-a5dae560-b9a0-11e7-9acd-450f21a63a96.png)
example first Touch
IQDropDownTextField

![image](https://user-images.githubusercontent.com/29437425/32024021-bc0106f8-b9a0-11e7-9fbf-6bb42fb97cb1.png)

Example second touch
![image](https://user-images.githubusercontent.com/29437425/32024054-d9bf18d8

[2017-10-26 00:16] fsaldivarids commented on #83
Exmaple first touch
<img width="768" alt="captura de pantalla 2017-10-25 a la s 7 14 43 p m" src="https://user-images.githubusercontent.com/29437425/32029242-ebf2d2e8-b9b8-11e7-9ad7-8a9e18cfd1a3.png">

Second touch
<img width="416" alt="captura de pantalla 2017-10-25 a la s 7 15 13 p m" src="https://user-images.githubusercontent.com/29437425/32029248-f67ef2aa-b9b8-11e7-81dc-7a5118e12ea2.png">

[2017-10-26 17:33] ginppian commented on #69
for IQKeyboardManager just install it and use it, thats all. You can mix with IQDropDownTextField without worry for IQKeyboardManager

[2017-11-12 10:18] Mamtak1811 commented on #82
How do we use these properties to set minimum and maximum date? Please elaborate

[2017-11-16 07:06] hackiftekhar commented on #82
like `[textField.datePicker setMinimumDate:minimumDate]` @Mamtak1811

[2018-01-19 20:20] rntsud opened #84 "IQDropDownTextFieldDelegate don't working with iOS 11"
The methods of IQDropDownTextField Delegate not being called in iOS 11.

[2018-01-24 14:00] MahmoudMMB opened #86 "CALayer bounds contains NaN: [0 nan; 320 291]"
Really This problem annoyed me
Your library is very fantastic but do you can solve this problem
Terminating app due to uncaught exception 'CALayerInvalidGeometry', reason: 'CALayer bounds contains NaN: [0 nan; 320 291]'
*** First throw call stack:
(0x184ba1d04 0x183df0528 0x184ba1c4c 0x188b986c0 0x188b8a544 0x18e02437c 0x18e031cb0 0x18e0a9258 0x18e8c8044 0x18dff706c 0x18e09c460 0x18e8c74e0 0x18e2d

[2018-02-11 21:18] vishalcnz commented on #78
Its happen with me as well. Hard to reproduce but it crash quite a few times

[2018-03-13 02:14] Shelley-ND opened #89 "CALayer bounds contains NaN: [0 nan; 320 291]"
I have a crash problem, and log like this :

CRASH: CALayer bounds contains NaN: [0 nan; 320 291]
2018-03-12 19:23:13.096676+0800  *** Terminating app due to uncaught exception 'CALayerInvalidGeometry', reason: 'CALayer bounds contains NaN: [0 nan; 320 291]'

[2018-03-16 13:55] hackiftekhar commented on #86
I'm not able understand this stack trace @MahmoudMMB . Can you please send me more information?

[2018-03-17 09:25] hackiftekhar commented on #89
@Shelley-ND Can you please try https://stackoverflow.com/a/42960746/1582217 and let me know more information about this, specially at which line of code it get's crash.

[2018-03-17 09:25] hackiftekhar commented on #86
Can you please try https://stackoverflow.com/a/42960746/1582217 and let me know more information about this, specially at which line of code it get's crash.

[2018-03-17 09:25] #82 closed

[2018-03-17 09:26] #79 closed

[2018-03-17 09:27] hackiftekhar commented on #78
Can you guys please try https://stackoverflow.com/a/42960746/1582217 and let me know more information about this.

[2018-03-17 13:03] hackiftekhar commented on #83
Which version of library you are using currently?

[2018-03-17 13:04] hackiftekhar commented on #89
Duplicate of #86

[2018-03-17 13:04] #89 closed

[2018-03-17 13:04] hackiftekhar commented on #86
Duplicate of #78

[2018-03-17 13:04] #86 closed

[2018-03-17 13:35] hackiftekhar commented on #84
I verified it and it's properly being called. If you are talking about the demo then something was messed up with storyboard and delegate references were not set. I fixed demo project.

[2018-03-17 13:35] #84 closed

[2018-03-29 08:12] Tapaniya25 commented on #78
Is it solved this problem?

[2018-04-04 22:30] gask commented on #65
@hackiftekhar I'm trying to set the minuteInterval of the datePicker object inside a IQDropDownTextField object with IQDropDownModeTimePicker and nothing is changing. Are there other ways of setting the minuteInterval of the datePicker instead of "field.datePicker.minuteInterval"?

Because if there is not, this is a bug.

[2018-04-06 18:48] hackiftekhar commented on #78
You're doing correct when you set

[2018-04-06 18:50] hackiftekhar commented on #78
You're doing correct when you set It as optional dropdown.

If you can share demo then it would be great.

[2018-04-12 20:57] gask commented on #78
Meddling with your code I was able to fix this by changing a single line in the code in the method setSelectedRow:animated as below

`- (void)setSelectedRow:(NSInteger)row animated:(BOOL)animated
{
    NSInteger count = ([_itemList count] + 1);
    if (row < count)
    {
        if (self.isOptionalDropDown)
        {
            if (row == IQOptionalTextFieldIndex)
            {
                su

[2018-04-14 13:46] hackiftekhar commented on #83
can you please try setting translateAutoresizingMaskIntoConstraints property to NO?

[2018-04-20 13:15] shadyk commented on #78
@hackiftekhar if @gask is correct can u fix it so can u fix it?

[2018-04-20 19:09] hackiftekhar commented on #78
Btw, do someone have any steps to reproduce this issue? So that after applying this code I can be sure it's get fix.

[2018-05-11 16:10] shadyk commented on #78
@hackiftekhar it is happening randomly

[2018-05-11 18:51] gask commented on #78
It is indeed happening randomly. I tried to isolate the bug in one project to send you @hackiftekhar, but I wasn't able to reproduce it in a definite manner.
The issue has something to do with going back and forth in ViewControllers that have the pickerView with mode = textPicker, but it's happening intermittently... :(
All I know is when I used the code above, the bug stopped happening. But I don

[2018-05-12 07:47] hackiftekhar commented on #78
Hmm, okay. I'll try to make some changes.

[2018-06-12 05:53] sameer4 commented on #78
Any update on the fix?

[2018-06-12 09:04] arqambutt commented on #83
i am also having the same issue and i am using 1.1.1 version of this library

[2018-06-12 09:52] shadyk commented on #78
@sameer4 use @gask fix that he added on Apr 12 .. it has worked with me

[2018-06-12 10:59] sameer4 commented on #78
need to do that in library what if some other developer working on same projects updates the library files??

2018-06-12 12:34:54.640928+0500 Equiloco[11637:337328] *** Terminating app due to uncaught exception 'CALayerInvalidGeometry', reason: 'CALayer bounds contains NaN: [0 nan; 320 291]'
*** First throw call stack:
(
	0   CoreFoundation                      0x0000000106f8f1e6 __exceptionPrepro

[2018-08-24 10:25] LamTranHoang opened #90 "How to set selectedItem = nil for Dropdown no optional Item"
![screen shot 2018-08-24 at 5 21 23 pm](https://user-images.githubusercontent.com/42671429/44579893-29b4aa00-a7c2-11e8-9ff6-9564ca9ddc87.png)
i have dropdown
isOptionalDropDown = false

I try to set selectedItem = nil but it always selects the first item

[2018-09-07 06:00] hackiftekhar commented on #90
It's because you set `isOptionalDropDown = false` which means the field shouldn't be empty. It's a feature not bug.

[2018-10-05 13:11] sameer4 opened #91 "Issue with the selection of 2 items with same name"
I have have a case in my app where item list contains 2 items with same name and if i try to select first item. itemdropdown scrollbacks to first item so second item selection is not possible. can you please solve it?

[2018-10-08 13:16] hackiftekhar commented on #91
It cannot be solved very easily since I need to do a lot of code changes. For a workaround how about giving space as prefix and postfix for second text? For example "Test" can be replaced as " Test ".

[2018-12-24 14:06] MohanRamanathan opened #92 "PickerView hiding Automatically after the execution of didSelectItem"
#import "IQDropDownTextField.h"
@property (weak, nonatomic) IBOutlet IQDropDownTextField *quantity;

static id<IQDropDownTextFieldDelegate> quantityDelegate;

+(CartProductTableViewCell *)generateProductCell:(UITableView *)tableView TableView:(Product *)product Product:(NSIndexPath *)indexPath {
    cell.quantity.isOptionalDropDown = NO;
    NSMutableArray  * items = [[NSMutableArray alloc]init];

[2019-03-04 23:02] fsaldivarids commented on #83
Update last version, my error was the navigation.

[2019-03-04 23:02] #83 closed

[2019-04-29 13:59] mobicity opened #93 "Memory leak issue"
I've got this issue in my application
<img width="1110" alt="Screen Shot 2019-04-24 at 10 16 39" src="https://user-images.githubusercontent.com/43755722/56901078-a98bc600-6a6d-11e9-9f2d-dd2ee18836f7.png"> that is stating that IQDropDownTextField is leaking memory! @hackiftekhar , can you help me?

[2019-05-01 09:46] Hardiktspaceo commented on #82
@hackiftekhar how can i set maximum date in latest version v1.1.1, i can't set maximum valid date in this.. can we set maximum date  ?

[2019-05-01 17:21] hackiftekhar commented on #82
Yes, you can use my suggestion using v1.1.1

[2019-05-02 05:12] Hardiktspaceo commented on #82
In swift i can't set minimum date as per your suggestion can you provide some example for swift version ?

[2019-05-02 06:00] hackiftekhar commented on #82
Are you able to access `textField.datePicker` object?

[2019-05-02 06:07] Hardiktspaceo commented on #82
ok thank you so much, now i can get access of minimum and maximum date as per your above comment. Thank you so much for quick reply.

[2019-05-02 06:55] hackiftekhar commented on #82
Thanks sir!

[2019-06-19 08:17] sameer4 commented on #78
Happing a lot more in a new project @hackiftekhar

*** First throw call stack:
(
	0   CoreFoundation                      0x000000010579f6fb __exceptionPreprocess + 331
	1   libobjc.A.dylib                     0x0000000104d43ac5 objc_exception_throw + 48
	2   CoreFoundation                      0x000000010579f555 +[NSException raise:format:] + 197
	3   QuartzCore                          0x0000000

[2019-08-07 07:23] Hardiktspaceo opened #94 "Need support for mac app , Xcode 11"
We are converting our iOS app to mac in xCode 11 beta, in that we face issue related to UI.

Date picker not show in that, can you please help for the same.

[2019-09-27 19:44] eshajari opened #95 "Set Date Picker dropdown for Swift"
Option for DropdownMode is not coming when trying to use for swift file.
Please help

[2019-11-13 14:37] avikroy commented on #78
Hi Team,
We are also getting similar kind of issue and this is random in nature.
Here is the crash log that we received:

CoreFoundation | __exceptionPreprocess + 228
-- | --
2 | libobjc.A.dylib | objc_exception_throw + 52
3 | CoreFoundation | +[NSException raise:format:] + 112
4 | QuartzCore | CA::Layer::set_bounds(CA::Rect const&, bool) + 164
5 | QuartzCore | -[CALayer setBounds:] + 136

[2019-11-17 06:30] #90 closed

[2019-11-17 06:31] #91 closed

[2019-11-17 06:33] hackiftekhar commented on #92
@MohanRamanathan you might be triggering [endsEditing: true] or resignFirstResponder somewhen in your code. Both libraries do not automatically dismiss the keyboard/dropdown.

[2019-11-17 06:33] #92 closed

[2019-11-17 06:37] hackiftekhar commented on #95
How are you trying to write in a swift file? It is already figured out or still needshelp?

[2019-11-17 06:52] hackiftekhar commented on #78
Hi guys, I've released v2.0 with some fixes related to row Index issues when user switching isOptionalDropDown to YES/NO. I have done couple of cleanups also but not sure if that fixes this problem since I do not know how to reproduce the issue.

[2019-11-20 14:29] ankitmobdev opened #96 "How to show picker with 24 Hour Time Format"
Please anyone let me know how to show picker with 24 hour time formate.

    [self.timeField setDropDownMode:IQDropDownModeTimePicker];
    NSDateFormatter *dateFormat = [[NSDateFormatter alloc] init];
    [dateFormat setDateFormat:@"HH:mm"];
    self.timeField.dateFormatter = dateFormat;

[2019-11-21 06:55] #96 closed

[2019-12-04 08:03] developerawais commented on #78
Hi all,
This issue is resolved in v2.0.

[2019-12-05 06:36] developerawais commented on #78
<img width="1415" alt="Screenshot 2019-12-05 at 11 34 52 AM" src="https://user-images.githubusercontent.com/58505784/70210000-686e3980-1753-11ea-89c0-504c5c9d7ee4.png">

[2019-12-05 06:38] developerawais opened #97 "Set Selected Row index out of range"
<img width="1415" alt="Screenshot 2019-12-05 at 11 34 52 AM" src="https://user-images.githubusercontent.com/58505784/70210143-c0a53b80-1753-11ea-8217-9c6f8b65c0e1.png">

[2019-12-18 16:07] hackiftekhar commented on #97
Have you set any itemList before setting selectedItem.

[2019-12-18 16:08] hackiftekhar commented on #78
Thanks @developerawais for letting me know. :)

[2019-12-18 16:08] #78 closed

[2019-12-23 07:51] developerawais commented on #97
Resolved

[2019-12-23 07:51] #97 closed

[2019-12-31 02:06] #95 closed

[2020-01-02 06:59] destantifw opened #98 "IQDropDownTextField is still typeable"
How can i disable typing in IQDropDownTextField while userInteraction is still enabled and picker is still shown?
![Screen Shot 2020-01-02 at 14 01 19](https://user-images.githubusercontent.com/14884055/71655199-65716380-2d68-11ea-9629-c59413d7fc46.png)

[2020-07-10 15:07] ankahathara opened #99 "Multiple Components Support"
Is there way to have multiple components for the picker view?

I have a requirement which is to have two components in the picker, One componet is to show number from 1 to 30 and other components should say Days, Weeks, Months, and Years.

Is there easy way to make this happen in the library?

Thank you.

[2020-12-31 09:44] hackiftekhar commented on #99
There is no such feature right now, you could try using the `IQActionSheetPickerView` for this kind of feature.

[2020-12-31 09:44] #99 closed

[2021-03-16 02:28] ycwjjjj commented on #89
we are using v2.0. but still encounter this CAlayer crash as below. Is it possible to keep on investigate it and fix it? Thanks!

libc++abi.dylib: terminating with uncaught exception of type NSException
*** Terminating app due to uncaught exception 'CALayerInvalidGeometry', reason: 'CALayer bounds contains NaN: [0 nan; 320 291]. Layer: <CALayer:0x283c19480; position = CGPoint (151 16.8333); bounds

[2021-03-16 02:29] ycwjjjj opened #100 "CALayer bounds contains NaN: [0 nan; 320 291]"
we are using v2.0. but still encounter this CAlayer crash as below. Is it possible to keep on investigate it and fix it? Thanks!

libc++abi.dylib: terminating with uncaught exception of type NSException *** Terminating app due to uncaught exception 'CALayerInvalidGeometry', reason: 'CALayer bounds contains NaN: [0 nan; 320 291]. Layer: <CALayer:0x283c19480; position = CGPoint (151 16.8333); bounds

[2021-03-30 13:51] ArunApsi opened #101 "Text Overlaps with placeholder"
<img width="309" alt="Screenshot 2021-03-30 at 7 20 33 PM" src="https://user-images.githubusercontent.com/51071758/113000029-142f6a00-918d-11eb-9b00-c3eecc5dc807.png">

I'm facing this issue. text overlaps with placeholder.. Did anyone is facing this issue?

[2021-05-25 06:35] vinen05 opened #102 "Auto Scroll to Year 1997 when selecting Date Dec 29 or Dec 30"
I have Write those code :-
        let dtformatter = DateFormatter()
        if UserDefaultManager.getStringFromUserDefaults(key: UD_AppLanguage) == "ar" {
            self.dtformatter.locale = Locale(identifier: "ar")
        }
        dtformatter.dateFormat = "YYYY-MM-dd"
        dtformatter.timeZone = NSTimeZone.system
        self.txtBDate.isOptionalDropDown = true
        self.txtBDate.dropDo

[2021-05-26 09:16] vinen05 commented on #102
I have just change the date formate to this :-
dtformatter.dateFormat = "yyyy-MM-dd"
And it's Working Fine 👍 .

[2021-05-26 09:16] #102 closed

[2022-01-07 16:57] gask commented on #93
@hackiftekhar Have you figured out what is causing this?

[2022-02-11 14:51] ArshdeepTrantor opened #118 "IQDropDownTextField setSelectedItem - Default value does not show in picker"
Step 1. [textFieldOptionalTextPicker setItemList:[NSArray arrayWithObjects:@"1",@"2",@"3",@"4",@"5",@"6", nil]];
Step 2: [textFieldOptionalTextPicker setSelectedItem:@"4"];
Step 3: TextField shows the last selected value, but does not select that value in picker. Also, when trying to retrieve textfield's value by using textFieldOptionalTextPicker.selectedItem, it returns nil.

Environment:
OS: Ver

[2022-03-01 13:13] ElKnarzo commented on #118
Any news to this issue. I have the same problem, too.